* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  height: 95vh;
  background-color: rgba(69, 68, 87, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Background layer */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://t3.ftcdn.net/jpg/01/77/75/24/240_F_177752440_buU7mcVBRhZdd6XzgKGPUwKzXL2KO2Rp.jpg")
    center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1); /* fixes blur edges */
  z-index: -1;
}
.container {
  width: clamp(400px, 70%, 750px);
  display: flex;
  flex-direction: column;
  border: 2px solid #454457;
  outline: 5px solid #363345;
  background-color: #454457;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  box-shadow: 20px 20px 10px #070a0d;
  /* 3D effect for container */
  background: radial-gradient(circle at 70px 70px, #454457, #292930);
}
.upper-container {
  background-color: #020205;
  padding: 10px 10px 20px 10px;
  border-radius: 10px 10px 30px 30px;
  box-shadow: 0px 20px 0px #4f4b5c;
}
h1 {
  margin: 1rem 0;
}
#display {
  width: 100%;
  height: 120px;
  background: #d8e3e3;
  border-radius: 10px;
  border: 10px solid #a2a5a8;
  color: #070a0d;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: right;
}
#display-value {
  width: 100%;
  height: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  transform: scaleY(1.5);
  letter-spacing: 3px;
  anchor-name: --operator;
}
#display-operator {
  display: none;
  width: 1rem;
  height: 1rem;
  font-size: 15px;
  text-align: center;
  color: #b6b6ba;
  position: absolute;
  position-anchor: --operator;
  position-area: top right;
  transform: translate(-30%);
  color: #d8e3e3;
  background-color: #070a0d;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 50px);
  gap: 10px;
  margin-top: 2.5rem;
}
.plus {
  grid-area: 5/5/7/6;
}
button {
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  box-shadow: 0px 5px 0px #070a0d;
  border-radius: 10px 10px 15px 15px;
  cursor: pointer;
}
button:active {
  box-shadow: 0px 2px 0px #070a0d;
  transform: translateY(3px);
}

.bw {
  /* background-color: #23232b; */
  background: linear-gradient(to right bottom, #23232b, #1b1b22);
  color: #f3f4fc;
}
.rw {
  /* background-color: #b77789; */
  background: linear-gradient(to right bottom, #b77789, #a05a6a);
  color: #f3f4fc;
}
.number {
  /* background-color: #868491; */
  background: linear-gradient(to right bottom, #868491, #6a6875);
  color: #e1e3e8;
}
